.btn {
  width: 7.5rem;
  padding: 0.8rem 0.5rem;
  border-radius: 4rem;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.primary_btn {
  border: none;
  background-color: var(--white);
  color: var(--light-red);

  transition: all 0.3s ease;

  &:hover {
    background-color: var(--very-light-red);
    color: var(--white);
  }
}

.secondary_btn {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);

  transition: all 0.3s ease;

  &:hover {
    background-color: var(--white);
    color: var(--very-light-red);
  }
}