.container_header {
  position: relative;
  display: grid;
  place-items: center;
  
  max-width: 100vw;
  width: 100%;
  min-height: 4rem;
  
  padding: 2rem 8%;
  margin-bottom: -6.8rem;

  z-index: 2;

  background-color: transparent;

  font-family: 'Ubuntu', sans-serif;
}

.wrapper_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  gap: 2rem;

  > .logo_menu_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 30.875rem;
    width: 100%;

    gap: 2rem;

    > img {
      aspect-ratio: attr(width) / attr(height);
    }
  }

  > .buttons_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;
  }

  > .burger {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .burger {
      position: absolute;
      display: block;

      top: 2.5rem;
      right: 2.5rem;

      z-index: 10;

      cursor: pointer;

      img {
        aspect-ratio: attr(width) / attr(height);
      }
    }

    .buttons_wrapper {
      display: none;
    }

    .logo_menu_wrapper .list {
      display: none;
    }
  }
}

@keyframes showCard {
  from {
    opacity: 0;
    top: 40%;
  }

  to {
    opacity: 1;
    top: 100%;
  }
}

.list {
  display: flex;
  justify-content: space-between;

  max-width: 334px;
  width: 100%;

  list-style: none;

  color: var(--white);

  > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 0.5rem;

    padding: 0.5rem;
    
    cursor: pointer;
    transition: background-color 0.2s ease;
    
    &:hover {
      background-color: rgba(236, 236, 236, 0.123);
    }

    .options_container {
      display: none;
    }

    span {
      width: 90px;

      svg {
        transition: all 0.3s ease;

        margin-left: 0.2rem;
        margin-bottom: 0.125rem;
      }
    }

    &.active {
      span {
        text-decoration: underline;
        font-weight: 700;

        svg {
          transition: transform 0.2s ease;
          transform: rotate(180deg);
        }
      }

      .options_container {
        position: absolute;
        display: block;

        width: 150px;
        height: 150px;
        top: 100%;
        left: -20%;

        margin-top: 1.5rem;
  
        animation-name: showCard;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-duration: 0.2s;
        border-radius: 0.5rem;
  
        background-color: white;
  
        .option {
          color: var(--very-dark-gray-blue);
          text-align: center;
          line-height: 3rem;
          
          cursor: pointer;
          transition: font-weight 0.1s ease-out;
          
          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }
}