.sidebar_container {
  display: none;
}

.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .buttons_container {
    width: 100%;
    max-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    background: var(--very-light-red-background);

    >.action_buttons {
      display: flex;
      gap: 1rem;
    }

    > .burger {
      background: transparent;
      border: none;

      > img {
        aspect-ratio: attr(width) / attr(height);
      }
    }
  }

  .sidebar_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 50vh;

    > .select {
      width: 100%;
      padding: 2rem;
      font-family: 'Overpass', sans-serif;
      font-weight: 700;
      font-size: clamp(1rem, 5vw, 1.2rem);
      color: var(--very-dark-blue);
      cursor: pointer;

      svg {
        transition: all 0.3s ease;
        margin-left: 0.2rem;
      }

      &.active {
        background-color: var(--grayish-blue);

        svg {
          transition: transform 0.2s ease;
          transform: rotate(180deg);
        }
      }

      &.active + .options_container {
        display: block;
        width: 100%;
        
        > p {
          line-height: 3rem;
          margin-left: 3rem;
          font-family: 'Overpass', sans-serif;
          font-weight: 700;
          font-size: 1rem;
          color: var(--very-dark-grayish-blue);
          cursor: pointer;

          transition: all 0.2s ease;

          &:hover {
            color: var(--very-dark-gray-blue);
            font-size: 1.1rem;
          }
        }
      }
    }

    .options_container {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar_container {
    display: block;
    position: fixed;
    z-index: 10;
    width: 60vw;
    height: 100vh;
    right: 0;
    background-color: var(--white);
    color: black;
  }

  .action_buttons {
    .sign_up_button {
      width: 7.5rem;
      padding: 0.8rem 0.5rem;
      border-radius: 4rem;
      border: 1px solid var(--white);
    
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      font-size: 1rem;

      background-color: transparent;
      color: var(--white);
    
      transition: all 0.3s ease;
    
      &:hover {
        background-color: var(--white);
        color: var(--very-light-red);
      }
    }

    a {
      color: var(--white);
      font-family: 'Overpass', sans-serif;
      text-align: center;
      font-weight: 600;
      line-height: 3rem;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  @keyframes showSidebarCard {
    from {
      opacity: 0;
      top: 0%;
    }
    to {
      opacity: 1;
      top: 50%;
    }
  }

  .sidebar_container {
    max-width: 85vw;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: showSidebarCard;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    padding: 1.5rem;

    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
  }

  .sidebar_wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    position: relative;

    .buttons_container {
      max-height: 8rem;
      height: 100%;
      padding: 0;
      border-radius: 0 0 0.5rem 0.5rem;
      border-top: 1px solid var(--grayish-blue);
      background-color: transparent;
      justify-content: center;

      .action_buttons {
        flex-direction: column;
        margin-top: 1rem;

        > .sign_up_button {
          position: relative;
          width: 8.5rem;
          z-index: 1;
          font-size: 1rem;

          border: none;
          border-radius: 4rem;
          padding: 1rem;

          overflow: hidden;

          color: var(--white);
          font-family: 'Ubuntu', sans-serif;
          font-weight: 700;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, var(--very-light-red-background) 20%, var(--light-red-background));
            border-radius: 10rem;
            z-index: -2;
          }

          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: var(--very-light-red-background);
            border-radius: 10rem;
            z-index: -1;  
            transition: all .2s linear;
          }

          &:hover {
            color: #fff;

            &:before {
              width: 100%;
            }
          }

          &:active:before {
            background-color: var(--light-red-background);
          }
        }
      
        a {
          color: var(--very-dark-blue);
          font-family: 'Overpass', sans-serif;
          text-align: center;
          font-weight: 600;
          line-height: 2rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .burger {
        display: none;
      }
    }

    .sidebar_list {
      justify-content: center;
      padding: 0 0 1rem;
      height: auto;

      .select {
        text-align: center;
        padding: 1rem;

        &.active {
          background-color: transparent;
          color: var(--very-dark-grayish-blue);
        }

        &.active + .options_container {
          background-color: rgb(240, 240, 240);
          border-radius: 0.5rem;
          padding: 1rem 0;

          > p {
            margin: 0;
            line-height: 2rem;

            text-align: center;
            font-family: 'Overpass';
            font-weight: 700;

            color: var(--very-dark-grayish-blue);

            transition: all 0.2s ease;

            &:hover {
              color: var(--very-dark-gray-blue);
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}